<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Muscat Category"
            id="jp.ac.osaka_u.ist.sdl.muscat">
      </category>
      <view
            name="[muscat]main"
            icon="icons/sample.gif"
            category="jp.ac.osaka_u.ist.sdl.muscat"
            class="jp.ac.osaka_u.ist.sdl.muscat.views.mainview.MainView"
            id="jp.ac.osaka_u.ist.sdl.muscat.views.MainView">
      </view>
      <view
            category="jp.ac.osaka_u.ist.sdl.muscat"
            class="jp.ac.osaka_u.ist.sdl.muscat.views.methodview.MethodView"
            icon="icons/sample.gif"
            id="jp.ac.osaka_u.ist.sdl.muscat.views.methodview.MethodView"
            name="[muscat]メソッド情報">
      </view>
      <view
            category="jp.ac.osaka_u.ist.sdl.muscat"
            class="jp.ac.osaka_u.ist.sdl.muscat.views.classview.ClassView"
            icon="icons/sample.gif"
            id="jp.ac.osaka_u.ist.sdl.muscat.views.classview.ClassView"
            name="[muscat]クラス情報">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="jp.ac.osaka_u.ist.sdl.y_mutoh.gef.zest.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:project?after=additions">
               <command
               		commandId="jp.ac.osaka_u.ist.sdl.muscat.command.begincheck"
               		id="jp.ac.osaka_u.ist.sdl.muscat.menu.begincheck"
               		label="[muscat]Create Graph"
               		icon="icons/scv.gif"
               		mnemonic="S">
               </command>
         </menuContribution>
         <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
           <command
           		commandId="jp.ac.osaka_u.ist.sdl.muscat.command.begincheck"
           		id="jp.ac.osaka_u.ist.sdl.muscat.popup.begincheck"
           		label="[muscat]Create Graph"
           		icon="icons/scv.gif"
           		mnemonic="S">
           		<visibleWhen>
           			<with
           				variable="selection">
           				<iterate>
           					<adapt
           						type="org.eclipse.core.resources.IProject">
           					</adapt>
           				</iterate>
           			</with>
           		</visibleWhen>
           </command>
         </menuContribution>
         <menuContribution
               locationURI="toolbar:jp.ac.osaka_u.ist.sdl.muscat.views.MainView">
               <command
               		commandId="jp.ac.osaka_u.ist.sdl.muscat.command.begincheck"
               		id="jp.ac.osaka_u.ist.sdl.muscat.menu.begincheck"
               		label="[muscat]Create Graph"
               		icon="icons/scv.gif"
               		mnemonic="S">
               </command>
         </menuContribution>         
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <category
         	name="サンプルカテゴリ"
         	id="jp.ac.osaka_u.ist.sdl.muscat.samplecategory">
         </category>
         <command
         	name="[muscat]Create Graph"
         	categoryId="jp.ac.osaka_u.ist.sdl.muscat.samplecategory"
         	id="jp.ac.osaka_u.ist.sdl.muscat.command.begincheck">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.ac.osaka_u.ist.sdl.muscat.handlers.ExecuteHandler"
            commandId="jp.ac.osaka_u.ist.sdl.muscat.command.begincheck">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.ac.osaka_u.ist.sdl.muscat.preference.SCVPreferencePage"
            id="jp.ac.osaka_u.ist.sdl.muscat.preference.page"
            name="StaticCheckVisualizer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer class="jp.ac.osaka_u.ist.sdl.muscat.preference.PreferenceInitializer" />
   </extension>

</plugin>
