<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Static Check Visualizerカテゴリ"
            id="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer">
      </category>
      <view
            name="[SCV]main"
            icon="icons/sample.gif"
            category="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer"
            class="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.views.mainview.MainView"
            id="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.views.MainView">
      </view>
      <view
            category="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer"
            class="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.views.methodview.MethodView"
            icon="icons/sample.gif"
            id="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.views.methodview.MethodView"
            name="[SCV]メソッド情報">
      </view>
      <view
            category="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer"
            class="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.views.classview.ClassView"
            icon="icons/sample.gif"
            id="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.views.classview.ClassView"
            name="[SCV]クラス情報">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="jp.ac.osaka_u.ist.sdl.y_mutoh.gef.zest.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:project?after=additions">
               <command
               		commandId="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.command.begincheck"
               		id="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.menu.begincheck"
               		label="[SCV]静的チェックの開始"
               		mnemonic="S">
               </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <category
         	name="サンプルカテゴリ"
         	id="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.samplecategory">
         </category>
         <command
         	name="[SCV]静的チェックの開始"
         	categoryId="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.samplecategory"
         	id="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.command.begincheck">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.handlers.SampleHandler"
            commandId="jp.ac.osaka_u.ist.sdl.staticcheckvisualizer.command.begincheck">
      </handler>
   </extension>

</plugin>
